<section class="wow fadeIn">
  <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(/img/culture.jpg);">
					<span class="login100-form-title-1">
						Registrar Cuenta
					</span>
				</div>

        <img src="/img/cartelera.png" class="rounded-circle mx-auto d-block m-4 logo" alt="Logo Cartelera">

				<form class="login100-form validate-form" action="/users/signup" method="POST">

          <div class="wrap-input100 validate-input m-b-26" data-validate="Correo electrónico es requerido">
						<span class="label-input100">Nombre</span>
						<input class="input100" type="text" name="name" value="{{name}}">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-26" data-validate="Correo electrónico es requerido">
						<span class="label-input100">Correo Electrónico</span>
						<input class="input100" type="email" name="email" value="{{email}}">
						<span class="focus-input100"></span>
					</div>

          <div class="wrap-input100 validate-input m-b-26" data-validate="Dependencia es requerido">
						<span class="label-input100">Dependencia</span>
						<select class="input100" name="dependency">
              <option value="Secretaria de Cultura">Secretaria de Cultura</option>
              <option value="Independiente">Independiente</option>
            </select>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "La contraseña es requerida">
						<span class="label-input100">Contraseña</span>
						<input class="input100" type="password" name="password" value="{{password}}">
						<span class="focus-input100"></span>
					</div>

          <div class="wrap-input100 validate-input m-b-18" data-validate = "La contraseña es requerida">
						<span class="label-input100">Repetir Contraseña</span>
						<input class="input100" type="password" name="confirm_password" value="{{confirm_password}}">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">
						<input class="login100-form-btn" type="submit">

						</input>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
